In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nouadhibou,MR,2022-05-13 16:42:21,20.9310,-17.0347,73.98,56,92,18.75
1,1,Lubango,AO,2022-05-13 16:42:21,-14.9172,13.4925,82.26,16,40,4.61
2,2,Atuona,PF,2022-05-13 16:42:22,-9.8000,-139.0333,78.30,66,60,21.30
3,3,Lorengau,PG,2022-05-13 16:42:11,-2.0226,147.2712,81.01,73,39,8.88
4,4,Mataura,NZ,2022-05-13 16:42:23,-46.1927,168.8643,52.48,96,100,3.65

In [2]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
dissipating=False, max_intensity=300, point_radius=4)

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
#size

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 80

In [43]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nouadhibou,MR,2022-05-13 16:42:21,20.9310,-17.0347,73.98,56,92,18.75
2,2,Atuona,PF,2022-05-13 16:42:22,-9.8000,-139.0333,78.30,66,60,21.30
5,5,Hilo,US,2022-05-13 16:42:24,19.7297,-155.0900,72.63,87,40,8.05
6,6,Goderich,CA,2022-05-13 16:42:24,43.7501,-81.7165,73.72,60,8,12.66
10,10,Miandrivazo,MG,2022-05-13 16:42:28,-19.5167,45.4667,76.96,47,43,1.61
13,13,Nador,MA,2022-05-13 16:42:29,35.1740,-2.9287,75.27,64,20,5.75
14,14,Rikitea,PF,2022-05-13 16:39:27,-23.1203,-134.9692,77.61,74,53,21.50
17,17,Mariental,NaN,2022-05-13 16:42:32,-24.6333,17.9667,71.98,12,65,12.10
20,20,Saint-Philippe,RE,2022-05-13 16:39:46,-21.3585,55.7679,71.19,69,3,5.23
22,22,Fenoarivo Atsinanana,MG,2022-05-13 16:42:34,-17.3667,49.4167,72.12,84,46,7.81

In [44]:
preferred_cities_df.count()

City_ID       188
City          188
Country       185
Date          188
Lat           188
Lng           188
Max Temp      188
Humidity      188
Cloudiness    188
Wind Speed    188
dtype: int64

In [45]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                    City Country  Max Temp      Lat       Lng Hotel Name
0             Nouadhibou      MR     73.98  20.9310  -17.0347
2                 Atuona      PF     78.30  -9.8000 -139.0333
5                   Hilo      US     72.63  19.7297 -155.0900
6               Goderich      CA     73.72  43.7501  -81.7165
10           Miandrivazo      MG     76.96 -19.5167   45.4667
13                 Nador      MA     75.27  35.1740   -2.9287
14               Rikitea      PF     77.61 -23.1203 -134.9692
17             Mariental     NaN     71.98 -24.6333   17.9667
20        Saint-Philippe      RE     71.19 -21.3585   55.7679
22  Fenoarivo Atsinanana      MG     72.12 -17.3667   49.4167

In [47]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [49]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [50]:
from config import g_key
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # print(f'Index:{index}, Row:{row}')
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    try:
        # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print(f"Hotel not found... skipping., index:{index}")

Hotel not found... skipping., index:110
Hotel not found... skipping., index:165
Hotel not found... skipping., index:216
Hotel not found... skipping., index:228
Hotel not found... skipping., index:266
Hotel not found... skipping., index:364
Hotel not found... skipping., index:442

In [51]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Nouadhibou,MR,73.98,20.9310,-17.0347,El Medina
2,Atuona,PF,78.30,-9.8000,-139.0333,Villa Enata
5,Hilo,US,72.63,19.7297,-155.0900,Hilo Hawaiian Hotel
6,Goderich,CA,73.72,43.7501,-81.7165,Harmony Inn
10,Miandrivazo,MG,76.96,-19.5167,45.4667,Hôtel Arc En Ciel Miandrivazo
13,Nador,MA,75.27,35.1740,-2.9287,Hôtel La Giralda
14,Rikitea,PF,77.61,-23.1203,-134.9692,People ThankYou
17,Mariental,NaN,71.98,-24.6333,17.9667,Mariental Hotel
20,Saint-Philippe,RE,71.19,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
22,Fenoarivo Atsinanana,MG,72.12,-17.3667,49.4167,L'Oasis Lodge

In [15]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [54]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

# hotel marker with names
# marker_layer = gmaps.marker_layer(locations)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))